<ion-view view-title="Teams">
  <ion-content class= "padding">
  <table>
   
<thead>
<tr>
  <th colspan="4"><h4>Constructors Championship Standings - 2013</h4></th>
</tr>
</thead>
<tbody>
   <!-- ngRepeat: team in teamsList | filter: filterName -->
   <tr ng-repeat="team in teamsList ">  

                <td>{{$index + 1}}</td>
                <td>
                  <img src="img/flags/{{team.Constructor.nationality}}.png" />
                 
                   {{team.Constructor.name}}
                 </a>
                </td>

                <td>{{team.points}}</td>

              </tr>
        
      
      </tbody>
    </table>
  </ion-content>
</ion-view>
